@font-face {
  font-family: "SignPainter-HouseScript";
  src: url("../../../../fonts/GTAV/SignPainter-HouseScript2.woff2")
      format("woff2"),
    url("../../../../fonts/GTAV/SignPainter-HouseScript2.woff") format("woff"),
    url("../../../../fonts/GTAV/SignPainter-HouseScript2.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Chalet-NewYorkSixty";
  src: url("../../../../fonts/GTAV/Chalet-NewYorkSixty2.woff2") format("woff2"),
    url("../../../../fonts/GTAV/Chalet-NewYorkSixty2.woff") format("woff"),
    url("../../../../fonts/GTAV/Chalet-NewYorkSixty2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Chalet-LondonSixty";
  src: url("../../../../fonts/GTAV/Chalet-LondonSixty2.woff2") format("woff2"),
    url("../../../../fonts/GTAV/Chalet-LondonSixty2.woff") format("woff"),
    url("../../../../fonts/GTAV/Chalet-LondonSixty2.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Chalet-ParisSixty";
  src: url("../../../../fonts/GTAV/Chalet-ParisSixty2.woff2") format("woff2"),
    url("../../../../fonts/GTAV/Chalet-ParisSixty2.woff") format("woff"),
    url("../../../../fonts/GTAV/Chalet-ParisSixty2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
